*{
    margin:0; 
    padding:0
} 

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1 {text-align: center}
nav {background-color:royalblue}
nav ul {widows: 200px;
margin:0 auto}
nav ul li{display: inline}
